<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Bootstrap 4 Admin Theme | Pike Admin">
    <meta name="author" content="Pike Web Development - https://www.pikephp.com">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/vendor_dashboard/images/favicon.ico">

    <!-- Switchery css -->
    <link href="~/Content/vendor_dashboard/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/vendor_dashboard/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Font Awesome CSS -->
    <link href="~/Content/vendor_dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/Content/vendor_dashboard/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Date Picker -->
    <link href="~/Content/vendor_dashboard/plugins/datetimepicker/css/daterangepicker.css" rel="stylesheet" />

    <!-- BEGIN CSS for this page -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

    <!-- END CSS for this page -->
    <title>@ViewBag.Title</title>
</head>
<body style="zoom: 75%">
    <div>
        @RenderBody()
    </div>




</body>
</html>
